<div class="con">

  <nav>
    <div>お支払い手続き</div>
    <div  class="active">手続き内容の確認<span class="arrow"></span></div>
  </nav>
  <div class="name">AIG 損保 <span>様</span></div>
  <section class="cont">
    <h1>口座振替情報の入力</h1>
    <div>
      ご利用いただける口座のご確認のうえ、以下の必要事項を入力してください
      <br><span>※お支払い手続きが正しく行えませんので、ブラウザの「戻る」ボタンは押さないでください。</span>
    <br><span>※信用金庫の場合は、口座情報ではなく青年月日の入力となります。</span>

    </div>
  </section>
  <section class="cont">
    <h2>お申込先情報</h2>
    <table class="confirm">
      <tr>
        <th>お申込先機関</th>
        <td>AIG損保</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>123456789789798</td>
      </tr>
      <tr>
        <th>アドレス</th>
        <td>12345678＠aig.co.jp</td>
      </tr>
    </table>
  </section>
  <section class="cont">
    <h2>金融期間情報</h2>
    <table class="confirm">
      <tr>
        <th>金融機関</th>
        <td>サンプル銀行</td>
      </tr>
      <tr>
        <th>店舗</th>
        <td>虎ノ門支店.co.jp</td>
      </tr>
    </table>
  </section>
  <section class="cont">
    <h2>情報入力</h2>
    <div>以下の必要事項を入力し、次に進むボタンを押してください</div>
    <table class="confirm" align="center">
      <tr>
        <th>預金種目&nbsp;<span>必須</span></th>
        <td>
        <select>
         <option>普通</option>
         <option>当座</option>
        </select>
        </td>
      </tr>
      <tr>
        <th>口座番号&nbsp;<span>必須</span></th>
        <td>
          <input type="text"><div>※半角数字</div>
        </td>
      </tr>
      <tr>
        <th>口座名義&nbsp;<span>必須</span></th>
        <td>
         <input type="text"><div>※半角文字</div>

        </td>
      </tr>
      <tr>
        <th>生年月日&nbsp;<span>必須</span></th>
        <td>
          西暦&nbsp;<input type="text" placeholder="2021">&nbsp;&nbsp;
          年&nbsp;
          <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          </select>&nbsp;&nbsp;
          日&nbsp;
          <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          </select>
        </td>
      </tr>
    </table>
  </section>
  <div class="btn_area">
   <a routerLink="/finish" routerLinkActive="active">次へ進む</a>
  </div>

</div>
