<div class="con">

  <nav>
    <div class="active">お支払い手続き<span class="arrow"></span></div>
    <div>手続き内容の確認</div>
  </nav>
  <section class="cont">
    <h1>ご利用金融機関の選択</h1>
    <div>
      ご利用になる金融機関を選択してください
      <br><span>※お支払い手続きが正しく行えませんので、ブラウザの「戻る」ボタンは押さないでください。</span>

    </div>
  </section>
  <section class="cont">
    <h2>ご利用金融機関の選択</h2>
    <table>
      <tr>
        <td><input type="radio" name="bank" checked>&nbsp;三井住友銀行</td>
        <td><input type="radio" name="bank" >&nbsp;三菱UFJ銀行</td>
      </tr>
      <tr>
        <td><input type="radio" name="bank" >&nbsp;みずほ銀行</td>
        <td><input type="radio" name="bank" >&nbsp;りそな銀行</td>
      </tr>

    </table>
  </section>
  <section class="cont">
    <h2>利用者同意事項</h2>
    <p>
      利用事項<br><br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
      利用事項<br>test
    </p>
  </section>
  <div class="btn_area">
   <a routerLink="/confirm" routerLinkActive="active">同意して次へ</a>
  </div>

</div>
